body {
    font-family: 'Roboto', sans-serif;
    color: #373737;
}

#wrapper {
    display: flex;
    width: 1200px;
    margin: auto;
    margin-top: 200px;
    min-height: 500px;
}

#button-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-right: 80px;
}

#button-container button {
    background-color: #00bf9c;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 24px;
    border-radius: 4px;
    line-height: 1.2;
    cursor: pointer;
}
#button-container button:not(:first-child) {
    margin-top: 20px;
}

#button-container .rain {
    background-color: #e8384f;
}

#button-container .snow {
    background-color: #fd9a00;
}

#img-container {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(241 242 242 / 5%);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.img-overlay {
    position: absolute;
    content: "";
    /* width: 0; */
    width: 100%;
    left: -100%;


    height: 100%;
    border-radius: 10px;
}

.img-overlay.show {
    animation: overlay 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) alternate;
    pointer-events: none;
}

.img-overlay.sun {
    background-color: #00bf9c;
}
.img-overlay.rain {
    background-color: #e8384f;
}
.img-overlay.snow {
    background-color: #fd9a00;
}
@keyframes overlay {
    0% {
        /* width: 0; */

        left: -100%;
    }
    50% {
        /* width: 100%; */

        left: 0;
    }
    100% {
        /* width: 0; */

        left: 100%;
    }
    
}

#buttons {
    margin-top: auto;
}